{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <b>Instructions</b>
{% endblock %}

{% block content %}
<div>

    In the next screen, you will be presented with a task. This task will require you to press two
    keyboard keys repeatedly in altering sequence (a,b,a,b,a,b,... etc. ). Every correct
    combination of two strokes earns you some money. You have 30 seconds to do as many combination as
    you can.

    After everyone is ready and has pressed the I AM READY button, you will be directed to the next page,
    and after brief countdown you will begin the task. Good luck.


    <table>
        <tr>
        <td>{{subsession.show_player_matrix}}</td>
        </tr>
    </table>

</div>
<br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button"> I AM READY </button>
{% endblock %}


