{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions pt.2
{% endblock %}

{% block content %}
        <p> In the next round you will repeat this task again. You will be
        matched with other player in this room. You will know his/her score
        compared to yours. Player (in your group) who scores more points in the
        next round will earn extra money. Good luck. After all players press the
        button down below, the round will start in 5 seconds as before.
    </p>
{% endblock %}


