{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <b>Introduction</b>
{% endblock %}

{% block content %}
<div>

    Welcome to the experiment. Today we will be pressing buttons like crazy. The more you press the more points you get.
    THe more the better. Other people are also pressing buttons. Press more to be the pressesest button presser.

    We would like to ask you a couple of questions before proceeding further. Some questions might have been asked
    before but moving to another platform requires us to do so, so please have a patience. Thank you.


</div>
<br>

    {% next_button %}
{% endblock %}