{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}


{% block content %}
    <p id="counterTag"> You will start in <span id="countdown">5</span> </p>

    <p> Press "a" then "b" repeatedly to score points</p>

	<p>Points: <span id="points">0</span></p>

    <input type="hidden" name="point_score" value="0" id="score"/>



<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 30) {
                $('.otree-timer').show();
            }
        });
    });
</script>

<script>

    const target = document.getElementById("points");
    var points = 0;
    var x = false;
    var seconds = 5,
    $seconds = document.querySelector("#countdown");
    var listenerActive = false;



    // First countdown
    (function countdown() {
      $seconds.textContent = seconds-- + " seconds"
      if (seconds >= 0) {
        setTimeout(countdown, 1000)
      }
      else {
        document.getElementById("counterTag").style.display = "none";
        document.addEventListener("keydown", function(event) {
          if (event.key === "a" || event.key === "A") x = true;
          if (event.key === "b" || event.key === "B") {
            if (!x) return;
            target.textContent = ++points;
            x = false;
          }
          document.getElementById("score").value = points;
        })
      }
    })();


</script>



{% endblock %}

