{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results
{% endblock %}

{% block content %}
    <p>
        Good job! You've made it to the end of this experiment but session is not over yet. Pressing the button down
        bellow will quit the browser and send you to the next experiment. Results of this one will be revealed to you at
        the end of the session. Monetary reward from this experiment will be automatically added to your final reward
        for participating.
    </p>
    {% next_button %}
{% endblock %}


