{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Final Stage
{% endblock %}

{% block content %}

<style>
    .otree-timer {
        display: none;
    }
</style>

    <p>
        Good job, you've made it to the end. You have scored
        {{ point_score_1 }} and {{ point_score_2 }} points. ({{ total_points }} points combined).

        {% if payoff > 0 %}
        Congratulations, you have won.
        {% else %}
        Unfortunately, you have lost.
        {% endif %}
        For this experiment you have earned additional {{ payoff }}.
        Reward from this experiment will be automatically added to your combined reward for participating in this session.
    </p>
    <p>
    Experiment is now over. You can safely close this page.
    </p>


{% endblock %}


