{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <b>Instructions pt.2</b>
{% endblock %}

{% block content %}
<div>
    <p>
        In the rest of this experiment, you will be paired with another participant who has the same gender as you.
        This part will consist of two identical rounds just like the one you just finished.
        Each round will take 30 seconds.
        Your task remains to press a and b in alternating fashion.
        You will be awarded 1 point for every correct sequence.
    </p>
    {% if treatment == 1 %}
    <p>
        After the first round, you will be shown your results, including information about your position
        relative to your opponent. Your opponent did not receive any information about
        {% if gender == 0 %} his
        {% elif gender == 1 %} her
        {% endif %}
        relative standing.
    </p>
    {% elif treatment == 2 %}
    <p>
        After the first round, you will be shown your results, including information about your position
        relative to your opponent. Your opponent received information about
        {% if gender == 0 %} his
        {% elif gender == 1 %} her
        {% endif %}
        relative standing.
    </p>
    {% else %}
    <p>
        After the first round, you will be shown your results.
    </p>
    {% endif %}
    <p>
        After the second round, you will see a summary of points you scored. If your sum of points from both rounds
        is higher than that of your opponent, you will receive a reward of 50 CZK, otherwise you will receive 0 CZK.
        You will receive information whether you have won or lost at the end of the experimental session.
    </p>
</div>
<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button"> I AM READY</button>
{% endblock %}


