{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<b>Questionnaire</b>
{% endblock %}

{% block content %}

<div>
    <table class="table">
        <tr>
            <td> Please indicate your gender (the same as you indicated in hroot): </td>
            <td> {% formfield player.gender %} </td>
        </tr>
        <tr>
            <td>
                Please provide your Unique ID so that we can match your earnings with your bank account
                information in hroot. This unique ID was sent to you along with the zoom link for this experiment.
            </td>
            <td> {% formfield player.hroot_id %} </td>
        </tr>


    </table>
</div>

<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button"> Continue</button>
{% endblock %}

